.portal-recruitment-detail-page {
  .ant-upload-select {
    width: 100%;
  }

  // Button
  .ant-btn {
    &.ant-btn-default {
      &:hover {
        color: #b45f06 !important;
        border-color: #b45f06 !important;
      }
    }

    &.ant-btn-primary {
      background-color: #b45f06 !important;

      &:hover {
        background-color: #c3721d !important;
      }
    }
  }

  //   Input
  .ant-input {
    padding: 0px 16px;

    &:focus,
    &:hover,
    &:active,
    &-focused {
      border-color: #b45f06;
    }

    &:focus,
    &:focus-within {
      box-shadow: 0 0 0 2px rgba(180, 95, 6, 0.1);
    }
  }

  // Picker
  .ant-picker {
    &:focus,
    &:hover,
    &:active,
    &-focused {
      border-color: #b45f06;
    }

    &:focus,
    &:focus-within {
      box-shadow: 0 0 0 2px rgba(180, 95, 6, 0.1);
    }
  }
}
