// Poppins
@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

//DancingScript
@font-face {
  font-family: DancingScript;
  src: url('../assets/fonts/DancingScript/DancingScript-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: DancingScript;
  src: url('../assets/fonts/DancingScript/DancingScript-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

// Inter
@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

// Graphik
@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/Graphik/Graphik-Regular.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/Graphik/Graphik-Medium.woff2');
  font-style: normal;
  font-weight: 500;
}
